<header>
    <mat-toolbar>
        <a href="/" matTooltip="Face2BMI Home">Face2BMI</a>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button aria-label="info" (click)="infoDialog()" matTooltip="Info">
            <mat-icon>info_outline</mat-icon>
        </button>
        <a href="https://github.com/face2bmi-ZmFjZTJibWk" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button aria-label="key" matTooltip="Source Code">
                <mat-icon>source</mat-icon>
            </button>
        </a>
    </mat-toolbar>
</header>
<main>
    <mat-card class="dash">

    </mat-card>
</main>
