header mat-toolbar {
  background: rgb(37, 37, 37);
  color: white;
  height: 50px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

header mat-toolbar a {
  text-decoration: none;
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

main {
  margin: 1em;
}

.dash {
  min-height: calc(100vh - 8em);
  max-width: 800px;
  margin: auto;
  background: #eee;
}

.file-input-button {
    margin: 0 4px!important
}

.image-upload {
  text-align: center;
  align-items: center;
}


.image-name {
  padding: 7px 12px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
}

img {
  max-height: 200px;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.mat-card-header {
  display: unset;

}
