header mat-toolbar {
  background: #252525;
  color: #fff;
  height: 50px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

header mat-toolbar a {
  text-decoration: none;
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

main {
  margin: 1em;
  padding-bottom: 1rem;
}

.dash {
  min-height: calc(100vh - 8em);
  max-width: 800px;
  margin: auto;
  background: #eee;
}

.file-input-button {
  margin: 0 4px !important;
}

.image-upload {
  text-align: center;
  align-items: center;
}

.image-name,
img {
  border-radius: 4px;
}

.image-name {
  padding: 7px 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

img {
  max-height: 200px;
  max-width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.mat-card-header {
  display: unset;
}

mat-progress-bar {
  margin: 10px auto;
}
