<header>
    <mat-toolbar>
        <a href="/" matTooltip="Face2BMI Home">Face2BMI</a>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button aria-label="info" (click)="infoDialog()" matTooltip="Info">
            <mat-icon>info_outline</mat-icon>
        </button>
        <a href="https://github.com/face2bmi-ZmFjZTJibWk" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button aria-label="key" matTooltip="Source Code">
                <mat-icon>source</mat-icon>
            </button>
        </a>
    </mat-toolbar>
</header>
<main>
    <mat-card class="dash">
        <mat-card class="image-upload">
            <mat-card-header>
                <mat-card-title>Inferring BMI(Body Mass Index) from Face Data</mat-card-title>
            </mat-card-header>
            <div>
                <img *ngIf="imgURL" src="{{ imgURL }}" alt="Image Preview">
            </div>
            <button mat-stroked-button type="button" color="primary" class="file-input-button"
                (click)="fileInput.click()" aria-label="Select Image" *ngIf="!selectedFile">
                <span>Choose Image</span>
                <input #fileInput type="file" style="display: none" accept=".jpg, .jpeg"
                    (change)="fileChanged($event.target.files)" />
            </button>
            <span class="image-name" *ngIf="selectedFileName">{{ selectedFileName }}</span>
            <button mat-icon-button type="button" matTooltip="Clear" aria-label="Remove Selected Image"
                (click)="fileChanged(null)" *ngIf="selectedFile">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-raised-button type="button" color="primary" aria-label="Upload Image" class="file-input-button"
                [disabled]="!selectedFile" (click)="uploadFile()">
                Upload Image
            </button>
        </mat-card>
        <br>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Prediction</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>BMI: {{ bmi | number }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Height: {{ height | number }} meters</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Weight: {{ weight | number }} Kilograms</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Category: {{ category }}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card>
</main>
