<header>
    <mat-toolbar>
        <a href="/" matTooltip="Face2BMI Home">Face2BMI</a>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button aria-label="info" (click)="infoDialog()" matTooltip="Info">
            <mat-icon>info_outline</mat-icon>
        </button>
        <a href="https://github.com/face2bmi-ZmFjZTJibWk" target="_blank" rel="noopener noreferrer">
            <button mat-icon-button aria-label="key" matTooltip="Source Code">
                <mat-icon>source</mat-icon>
            </button>
        </a>
    </mat-toolbar>
</header>
<main>
    <mat-card class="dash">
        <mat-card>
        </mat-card>
        <br>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Prediction</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>BMI: {{ bmi | number }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Height: {{ height | number }} meters</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Weight: {{ weight | number }} Kilograms</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Category: {{ category }}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card>
</main>
