header mat-toolbar {
  background: rgb(37, 37, 37);
  color: white;
  height: 50px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

header mat-toolbar a {
  text-decoration: none;
  color: white;
}
