<h2 mat-dialog-title>
    <span>Privacy Tip</span>
</h2>
<mat-dialog-content class="mat-typography">
    <p>
        Images Uploaded on this website aren't persistently stored anywhere.
    </p>
    <p>
        This website uses <a rel="noopener noreferrer" target="_blank" href="http://vercel.com">Vercel.com</a> and <a
            rel="noopener noreferrer" target="_blank" href="http://heroku.com">Heroku.com</a> to process data.
    </p>
    <p>
        The uploaded images are <strong>deleted</strong> as soon as BMI estimtion is done and can be checked in
        Source-Code of web-api as well as font-end app
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial  (click)="pdAccepted()">Ok</button>
</mat-dialog-actions>
